<div class="row">
  <div class="card">
    <div class="card-header">
      Add New Blog:
    </div>
    <form class="add-blog-form card-body">
      Title:
      <input id="blog-title" type="text" style="padding:1em" />
      Content:
      <textarea
        id="blog-content"
        style="width: 975px; height: 104px; padding:1em"
      ></textarea>
      <input type="submit" />
    </form>
  </div>
</div>

<script src="/js/blog.js"></script>