{{#each users as |user|}}
  <div class="row">
    <div class="card col w-100">
      <div class="card-body">
        <span id="post-title" class="display-flex justify-space-between">
          <h3>{{user.username}}</h3>
          <h4>Posted on {{comment.comment_date}}</h4>
        </span>
        <p>{{blog.content}}</p>
      </div>
    </div>
  </div>
{{/each}}