<div class="row">
  <div class="card col w-100">
    <div class="card-body">
      <span id="post-title" class="display-flex justify-space-between">
        <h3>Title Text</h3>
        <h4>Posted By User on Date</h4>
      </span>
      <p>Blog text will go here</p>
    </div>
  </div>
</div>