body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #13293d;
  color: #fff;
}

.main-page {
  width: 100%;
  justify-content: center;
}

a:link {
  color: #4e1e86;
}

textarea {
  resize: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -15px;
  margin-right: -15px;
}

a {
  text-decoration: none;
}

.card {
  width: 1000px;
  margin-top: 2em;
  border: solid 2px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #13293d;
  color: #fff;
}
.card-body {
  padding: 1%;
}

h1 {
  font-size: 200%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

main {
  display: flex;
  flex: 1 1 0;
  max-width: 1200px;
  margin: 2% auto;
}

section {
  flex: 1 1 0;
  padding-right: 5%;
}

input,
button {
  width: 100%;
  margin: 2% 0;
}
.btn {
  margin: 5px;
  margin-top: 3em;
}

.btn-danger {
  margin: 5px;
  background-color: #e64c66;
  color: #ffffff;
}

.btn-danger:hover {
  margin: 5px;
  background-color: #ee8294;
}

@media screen and (max-width: 768px) {
  header,
  main {
    flex-direction: column;
  }

  section {
    padding-right: 0;
  }

  aside {
    width: 100%;
    text-align: center;
  }
}
